@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-content {
	@apply bg-white shadow-lg border border-black border-opacity-25 rounded-md p-4;
}
.popup-arrow {
	@apply stroke-[rgba(0,0,0,.5)];
}
[role="tooltip"].popup-content {
	@apply p-2;
}

.popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
	background: transparent;
}

html {
	background-color: #eee;
}

.todo-form-options-wrapper > button {
	@apply my-1;
}

@layer components {
	.button {
		@apply bg-primary rounded inline-block p-2 shadow hover:shadow-lg transition-shadow disabled:opacity-70;
		padding: calc(0.5rem + 2px);
		width: fit-content;
	}
	.button-outline {
		@apply hover:bg-primary inline-block p-2 hover:shadow-lg rounded transition-shadow disabled:opacity-70 border-2 border-primary;
	}
	.highlight {
		@apply hover:bg-black hover:bg-opacity-5;
	}
	.input {
		@apply border-2 p-2 rounded w-full disabled:opacity-70;
	}
	.selected {
		@apply bg-primary bg-opacity-25;
	}
}
