@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #eee;
}

@layer components {
	.button {
		@apply bg-primary rounded inline-block p-2 shadow hover:shadow-lg transition-shadow disabled:opacity-70;
		padding: calc(0.5rem + 2px);
		width: fit-content;
	}
	.button-outline {
		@apply hover:bg-primary inline-block p-2 hover:shadow-lg rounded transition-shadow disabled:opacity-70 border-2 border-primary;
	}
	.highlight {
		@apply hover:bg-black hover:bg-opacity-10;
	}
	.input {
		@apply border-2 p-2 rounded w-full disabled:opacity-70;
	}
	.selected {
		@apply bg-primary bg-opacity-25;
	}
}
